[Unit]

Description=NodeSmart Web Dashboard

After=network.target


[Service]

Type=simple

User=NODESMART_USER
Group=NODESMART_GROUP
UMask=0027
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

WorkingDirectory=/opt/nodesmart

ExecStart=/usr/bin/python3 /opt/nodesmart/core/web_server.py

Restart=always

RestartSec=5


[Install]

WantedBy=multi-user.target
